doctype html
html
  head
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
    script(type='text/javascript', src='js/contextMenu/jquery.contextMenu.js')
    script(type='text/javascript', src='js/contextMenu/jquery.ui.position.js')
    script(type='text/javascript', src='js/jquery.pageslide.min.js')
    script(type='text/javascript', src='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(type='text/javascript', src='js/jquery.fileDownload.js')
    script(type='text/javascript', src='js/index.js')
    script(type='text/javascript', src='js/video.js')
    script(type='text/javascript', src='js/purl.js')
    script(type='text/javascript', src='js/md5.js')
    link(rel='stylesheet', href='css/index.css')
    link(rel='stylesheet', href='js/contextMenu/jquery.contextMenu.css')
    link(rel='stylesheet', href='js/contextMenu/jquery.pageslide.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootswatch/3.0.3/cyborg/bootstrap.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cedarville+Cursive')
    link(rel='stylesheet', href='css/video-js.min.css')
  body
    block content