{
  "folders": [
    {
      "path": "Path to folder 1", 
      "name": "Folder 1 name"
    },
    {
      "path": "Path to folder 2", 
      "name": "Folder 2 name"
    },
    {
      "path": "Path to folder 3", 
      "name": "Folder 3 name"
    }
  ],
  "users": [
    {
      "name": "User 1 name", 
      "key": "User 1 md5 hash key", 
      "server": "User 1 server:port"
    },
    {
      "name": "User 2 name", 
      "key": "User 2 md5 hash key", 
      "server": "User 2 server:port"
    }
  ],
  "whitelist": [
    "e.g. whitelist"
  ],
  "key": "md5 hash generated key for distribution"
}